<h3>Please Upload Image Here</h3>

<%= form_for :upload do |u| %>
    <div>
      Name:  <%= u.text_field :name %><br><br>
        Email: <%= u.text_field :email %><br><br>
      Address: <%= u.text_field :address %><br><br>
      Zip_Code: <%= u.text_field :zip_code %><br><br>
      Phone Number: <%= u.text_field :phone_number %><br><br>
      File Upload:  <%= u.file_field :photo %><br><br>

    </div>
    <div>
      <%= u.submit "Submit" %>
    </div>
<% end %>

<br>
<br>

<footer>
  <p>&copy; Owens Corning 2015</p>
</footer>